<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MoreCollection" version="2.0.0" targetFramework="net472" />
  <package id="Neutronium.ChromiumFx.Vue" version="1.4.0" targetFramework="net472" />
  <package id="Neutronium.Core" version="1.4.0" targetFramework="net472" />
  <package id="Neutronium.JavascriptFramework.Vue" version="1.4.0" targetFramework="net472" />
  <package id="Neutronium.MVVMComponents" version="1.4.0" targetFramework="net472" />
  <package id="Neutronium.WebBrowserEngine.ChromiumFx" version="1.4.0" targetFramework="net472" />
  <package id="Neutronium.WPF" version="1.4.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.1.2" targetFramework="net472" />
  <package id="System.Reactive.Core" version="4.1.2" targetFramework="net472" />
  <package id="System.Reactive.Interfaces" version="4.1.2" targetFramework="net472" />
  <package id="System.Reactive.Linq" version="4.1.2" targetFramework="net472" />
  <package id="System.Reactive.PlatformServices" version="4.1.2" targetFramework="net472" />
  <package id="System.Reactive.Windows.Threading" version="4.1.2" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unofficial.Cef.for.Chromiumfx.x64" version="3.3440.1806" targetFramework="net472" />
  <package id="Unofficial.Cef.for.Chromiumfx.x86" version="3.3440.1806" targetFramework="net472" />
  <package id="Unofficial.Chromiumfx" version="3.3440.1808" targetFramework="net472" />
  <package id="Vm.Tools" version="3.2.0" targetFramework="net472" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net45" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net45" />
</packages>